body{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Golos Text', sans-serif;
    font-family: 'Poppins', sans-serif;
    background: white;
    color: black;
    overflow-x: hidden; /*  idk what it does */
}

ul{
    list-style: none;
}



/* ------------ Navigation Links ---------------- */

a{
    text-decoration: none !important;
    color: #999999;
    transition: all 0.5s ease-in-out;
}

a:hover{
    color: #414d61 !important;
}


/* ------------ Navigation Bar ---------------- */

.navbar{
    position: relative;
}

.navbar-logo{
    max-width: 100%;
}

.navbar-collapse{
    text-align: center;
}

.navbar-light .navbar-toggler:focus{
    color: black;
    box-shadow: 0 0 0 2px;
}

.navbar ul li{
    position: relative;
    margin-left: 2.5rem;
    margin-right: 1rem;
}

.navbar ul li a{
    position: relative;
    display: block;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    color: #999999;
}

/* ------------ Home Section ---------------- */

.home-section{
    position: relative;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.home-section .home-title{
    position: relative;
    margin: 0;
    padding-top: 3rem;
    padding-bottom: 2rem;
    font-family: "Poppins", sans-serif;
    font-size: 38px;
    font-weight: 400;
    letter-spacing: 1px;
    color: black;
}

.home-section .home-description{
    position: relative;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.5px;
}

.home-section .home-btn{
    position: relative;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #797a7c;
}

.home-image{
    max-width: 50%;
}

/* ------------ About Section ---------------- */

.about-section{
    position: relative;
    padding-top: 0.3rem;
    padding-bottom: 3rem;
}

.about-section .about-title{
    position: relative;
    margin: 0;
    padding-top: 3rem;
    padding-bottom: 2rem;
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: capitalize;
    color: black;
}

.about-section .about-description{
    position: relative;
    font-size: 22px;
    font-weight: 500;
}

.about-image{
    max-width: 112%;
}

/* ------------ Portfolio Section ---------------- */

.portfolio-section{
    position: relative;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.portfolio-section .portfolio-title{
    position: relative;
    font-family: "Poppins", sans-serif;
    font-size: 38px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: black;
}

.portfolio-section .portfolio-tools{
    position: relative;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #797a7c;
}

.portfolio-section .portfolio-description{
    position: relative;
    font-size: 22px;
    font-weight: 500;
}

.link-list{
    text-align: right;
    margin-left: 1em;
    font-size: 22px;
    color: rgb(248, 248, 248);
}

.portfolio-image{
    max-width: 100%;
}

/* ------------ Contact Section ---------------- */
.contact {
    position: relative;
    height: 100vh;
    padding: 5%;
    font-family: "Poppins", sans-serif;
  }
  
  .contact__row {
    display: flex;
    flex-direction: row;
  }
  
  .contact h2 {
    font-size: 50px;
  }
  
  .contact-left {
    flex-basis: 35%;
  }
  
  .contact-left p {
    margin-top: 30px;
  }
  
  .contact-left p i {
    color: #797a7c;
    margin-right: 15px;
    font-size: 22px;
  }
  
  .contact__btn {
    display: block;
    margin: 38px auto;
    border: 1px solid #080808;
    padding: 8px 32px;
    border-radius: 6px;
    text-decoration: none;
    color: rgb(3, 3, 3);
    width: fit-content;
  }
  
  .contact__btn:hover {
    background: #5c5d5e;
  }
  
  .contact__btn.contact__btn--1 {
    display: inline-block;
    background-color: #c9c9c9;
  }
  
  .contact__btn--1:hover {
    background: #5e5c5c;
    cursor: pointer;
  }

  .contact-right {
    flex-basis: 60%;
  }
  
  .contact-right form {
    width: 100%;
  }
  
  form input,
  form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #b6b5b5;
    padding: 15px;
    margin: 15px 0;
    color: rgb(0, 0, 0);
    font-size: 18px;
    border: 6px;
  }
  
  .contact__btn.contact__btn--2 {
    display: inline-block;
    background-color: #c9c9c9;
    font-size: 18px;
  }
  
  .contact__btn--2:hover {
    background: #494949;
    cursor: pointer;
  }
  
/* ------------ Footer Section ---------------- */

.footer{
    position: relative;
    padding-top: 50px;
    background: #252525;
}

.footer .social-media .footer-list{
    position: relative;
    margin: 0 0 20px 0;
    display: inline-block; 
}

.footer .social-media .footer-list li{
    float: left;
    margin-right: 10px;
}

.footer .social-media .footer-list li a{
    position: relative;
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 1.5rem;
    color: rgb(155, 152, 152);
    text-align: center;
}

.footer p{
    position: relative;
    color: rgb(100, 100, 100);
}


/* ------------ Media Query ---------------- */

/* ------------ Home Section ---------------- */
@media only screen and (max-width: 600px){

    .home-image{
        max-width: 100%;
    }

}

/* ------------ About Section ---------------- */
@media only screen and (max-width: 600px){

.about-image{
    max-width: 100%;
}

}
/* ------------ Portfolio Section ---------------- */

@media only screen and (max-width: 600px){
    
    .portfolio-section .portfolio-title{
        padding-top: 1rem;
    }
    
    .portfolio-image{
        max-width: 100%;
        padding-top: 5rem;
    }

    .link-list{
        text-align: right;
        font-size: 22px;
    }

    }

/* ------------ Contact Section ---------------- */

    @media only screen and (max-width: 600px){
        .contact{
            height: 110vh;
        }
      
        .contact__row{
            flex-direction: column;
        }
      
        .contact-left, .contact-right {
            flex-basis: 100%;
        }
      } 