body{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Golos Text', sans-serif;
    font-family: 'Poppins', sans-serif;
    background: white;
    color: black;
    overflow-x: hidden; /*  idk what it does */
}

ul{
    list-style: none;
}



/* ------------ Navigation Links ---------------- */

a{
    text-decoration: none !important;
    color: #999999;
    transition: all 0.5s ease-in-out;
}

a:hover{
    color: #414d61 !important;
}


/* ------------ Navigation Bar ---------------- */

.navbar{
    position: relative;
}

.navbar-logo{
    max-width: 100%;
}

.navbar-collapse{
    text-align: center;
}

.navbar-light .navbar-toggler:focus{
    color: black;
    box-shadow: 0 0 0 2px;
}

.navbar ul li{
    position: relative;
    margin-left: 2.5rem;
    margin-right: 1rem;
}

.navbar ul li a{
    position: relative;
    display: block;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    color: #999999;
}

/* ------------ Home Section ---------------- */

.home-section{
    position: relative;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.home-section .home-title{
    position: relative;
    margin: 0;
    padding-top: 3rem;
    padding-bottom: 2rem;
    font-family: "Poppins", sans-serif;
    font-size: 38px;
    font-weight: 400;
    letter-spacing: 1px;
    color: black;
}

.home-section .home-description{
    position: relative;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.5px;
}

.home-section .home-btn{
    position: relative;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #797a7c;
}

.home-image{
    max-width: 50%;
}

/* ------------ About Section ---------------- */

.about-section{
    position: relative;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.about-section .about-title{
    position: relative;
    margin: 0;
    padding-top: 3rem;
    padding-bottom: 2rem;
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: capitalize;
    color: black;
}

.about-section .about-description{
    position: relative;
    font-size: 22px;
    font-weight: 500;
}

.about-image{
    max-width: 112%;
}



.portfolio-image{
    max-width: 40%;
}

.link-list{
    text-align: right;
    margin-left: 1em;
}


/* ------------ Footer Section ---------------- */

.footer{
    position: relative;
    padding-top: 50px;
    background: #252525;
}

.footer .social-media .footer-list{
    position: relative;
    margin: 0 0 20px 0;
    display: inline-block; 
}

.footer .social-media .footer-list li{
    float: left;
    margin-right: 10px;
}

.footer .social-media .footer-list li a{
    position: relative;
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 1.5rem;
    color: rgb(155, 152, 152);
    text-align: center;
}

.footer p{
    position: relative;
    color: rgb(100, 100, 100);
}


/* ------------ Media Query ---------------- */